body {
    background-color: #0d1117; /* Karanlık mod */
    color: #c9d1d9;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    width: 90%;
    max-width: 600px;
}

header {
    text-align: center;
    border-bottom: 2px solid #00bfff; /* Ark reaktörü mavisi */
    padding-bottom: 20px;
    margin-bottom: 30px;
}

h1 {
    color: #00bfff;
    letter-spacing: 2px;
}

.card {
    background-color: #161b22;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    border: 1px solid #30363d;
}

h2 {
    color: #f0e68c; /* Hafif altın rengi */
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 8px 0;
    font-size: 1.1em;
}.stark-button {
    background: transparent;
    color: #00bfff;
    border: 2px solid #00bfff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: 0.3s;
    width: 100%;
}

.stark-button:hover {
    background: #00bfff;
    color: #0d1117;
    box-shadow: 0 0 20px rgba(0, 191, 255, 0.6);
}